* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: rgb(70, 70, 70);
  padding: 20px;
}

#globeIcon1 {
  width: 20vw;
  padding-top: 20px;
}

#globeIcon2 {
  display: none;
}

.hidden {
  display: none;
}

#graphDisplay img {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 5px;
}

section.h1 {
  margin-top: 20px;
  font-weight: 700;
  font-size: 14pt;
}

section.h2 {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 13pt;
}

#selectCountryForm {
  font-size: 16pt;
  color: rgb(70, 70, 70);
}

select {
  text-align: justify;
  text-align-last: center;
  font-size: 16pt;
  border-radius: 5px;
}

#submitButton {
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 16pt;
  border-radius: 5px;
  padding: 5px;
  border-color: rgb(70, 70, 70);
  width: 55%;
}

#newsDisplay {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#statsDetails {
  font-size: 15px;
}

#statsDetails2 {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 30px;
}

/* unvisited link */
a:link {
  color: slategrey;
}

/* visited link */
a:visited {
  color: rgb(190, 202, 214);
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: black;
}





/* MEDIUM - For device-widths no larger than 1024 and no smaller than 376px: */

@media screen and (min-width: 376px) and (max-width: 1024px) {
  body {
    text-align: center;
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgb(70, 70, 70);
  }

  #globeIcon1 {
    display: none;
  }
  
  #globeIcon2 {
    display: inline-flex;
    width: 10vw;
    margin-top: 40px;
  }

  .flexContainer {
    margin: 15px;
    background-color: transparent;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .left-column {
    background-color: transparent;
    padding: 20px;
  }
  
  .right-column {
    background-color: transparent;
    padding: 20px;
  }
  
  #graphDisplay img {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 5px;
  }
  
  section.h1 {
    margin-top: 0px;
    font-weight: 700;
    font-size: 23pt;
  }
  
  section.h2 {
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 13pt;
  }
  
  #selectCountryForm {
    font-size: 16pt;
    color: rgb(70, 70, 70);
  }
  
  select {
    text-align-last: center;
    font-size: 16pt;
  }
  
  #submitButton {
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    border-radius: 5px;
    padding: 5px;
    border-color: rgb(70, 70, 70);
    width: 55%;
    margin-top: 20px;
  }
  
  #newsDisplay {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  
  #statsDetails {
    margin-top: 40px;
    font-size: 15px;
  }
  
  #statsDetails2 {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 30px;
  }
  
  /* unvisited link */
  a:link {
    color: slategrey;
  }
  
  /* visited link */
  a:visited {
    color: rgb(190, 202, 214);
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: black;
  }
}





/* LARGE - For device-widths 1025 and higher: */

@media screen and (min-width: 1025px) {
  body {
    text-align: center;
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgb(70, 70, 70);
  }

  #globeIcon1 {
    display: none;
  }
  
  #globeIcon2 {
    display: inline-flex;
    width: 5vw;
    margin-top: 30px;
  }

  .flexContainer {
    margin: 15px;
    background-color: transparent;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .left-column {
    background-color: transparent;
    padding: 20px;
  }
  
  .right-column {
    background-color: transparent;
    padding: 20px;
  }
  
  #graphDisplay img {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 5px;
  }
  
  section.h1 {
    font-weight: 700;
    font-size: 23pt;
  }
  
  section.h2 {
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 13pt;
  }
  
  #selectCountryForm {
    font-size: 16pt;
    color: rgb(70, 70, 70);
  }
  
  select {
    text-align-last: center;
    font-size: 16pt;
  }
  
  #submitButton {
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    border-radius: 5px;
    padding: 5px;
    border-color: rgb(70, 70, 70);
    width: 55%;
    margin-top: 80px;
  }
  
  #newsDisplay {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  
  #statsDetails {
    margin-top: 0px;
    font-size: 15px;
  }
  
  #statsDetails2 {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 30px;
  }
  
  /* unvisited link */
  a:link {
    color: slategrey;
  }
  
  /* visited link */
  a:visited {
    color: rgb(190, 202, 214);
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: black;
  }
}